<%= form_tag(employee_path(@employee), :method => "get", id: "sew-date-form") do %>
  <td><h4>Date: <%= time_tag @sewed_date.to_date %></h4></td>
  <td class="no-print"><%= select_tag :sew_date, options_for_select(@employee.formatted_sewed_clothing_dates, @sewed_date), {class: "form-control", prompt: "Select date"} %></td>
  <td class="no-print"><%= submit_tag "Search", class: "btn btn-primary btn-block" %></td>
<% end %>