<div class="panel panel-default employee-page-wrapper">
  <div class="panel-heading"><h2>Edit Employee</h2></div>
    <div class="panel-body">
      <%= render 'form' %>
      <%= link_to 'Back', employee_path(@employee), class: "btn btn-lg btn-warning btn-block cancel-button" %>
    </div>
  </div>
</div>
