<div class="panel panel-default">
  <div class="panel-heading"><h2>Clothing Types</h2></div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @clothing_types.each_with_index do |clothing_type, index| %>
            <%= render clothing_type, index: index %> 
          <% end %>
        </tbody>
      </table>
      <hr/>
      <%= link_to 'Add Clothing Type', new_clothing_type_path, class: "btn-lg btn-success btn-block btn-block add-ct-btn" %>
    </div>
  </div>
</div>