<div class="panel panel-default">
  <div class="panel-heading"><h2>About the Software</h2></div>
    <div class="panel-body">

      <div class="panel panel-default">
        <div class="panel-heading"><h2>Purpose</h2></div>
        <div class="panel-body">
          <p>The purpose of this software is to provide a payroll system for Wild Dust Tailoring. The software is customized to fit the current payroll flow of the business. The system can record and compute employees' sewed clothings for a particular pay day and also the employer can review the transaction history.</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h2>Written by</h2></div>
        <div class="panel-body">
          <p><strong>Jay Paul Aying</strong>, Ruby on Rails programmer <br/>
          Linked: <strong>ph.linkedin.com/pub/jay-paul-aying</strong><br/>
          g+: <strong>+jaypaulaying</strong><br/>
          fb: <strong>fb.com/jiefool</strong><br/>
          twitter: <strong>@jaypaulaying</strong><br/>
          email: <strong>jaypaulaying5@gmail.com</strong><br/></p>
        </div>
      </div>

    </div>
  </div>
</div>


