// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signature{
  display:none;
}

@media print
{
  .no-print{
     display: none !important;
  }

  .yes-print{
    display:block;
  }

  .total-sewed-amount{

  }

  .total-div div{
    display: inline-block;
  }

  .total-div-text{
    margin-left: 60%;
  }

  .sewed-clothings div{
    display: inline-block;  
    width: 15%;
  }

  .field-label{
    display:none;
  }
}

